<html>
  <head>

<!-- <% if(typeof(jQuery) == 'undefined') %>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
<% end %> -->
  </head>


  <body>
    <p>
      <p>
        <strong>Name:</strong>
        <%= @dianosaur.name %>
      </p>
      <strong>Genus:</strong>
      <%= @dianosaur.genus %>
    </p>
  </body>
</html>
