<html>
  <head>
  </head>


  <body>
    <p>
      <p>
        <strong>Name:</strong>
        <%= @dianosaur.name %>
      </p>
      <strong>Genus:</strong>
      <%= @dianosaur.genus %>
    </p>
  </body>
</html>
