<div class="container">
  <h1>My Map</h1>
  <div id="mapid">
    <%= map(:center => {
      :latlng => [34.4232863, -119.7795697],
      :zoom => 18

    },
    :markers => [
       {
         :latlng => [34.418418, -119.6641176],
         :popup => "Hello Queen!"
       }
    ]
    ) %>
  </div>
</div>
