<div class="container">
  <h1>Click the drop pin</h1>
  <div id="mapid">
    <%= map(:center => {
      :latlng => [34.418418, -119.6641176],
      :zoom => 13

    },
    :markers => [
       {
         :latlng => [34.418418, -119.6641176],
         :popup => "Hi Rori's Ice Cream!"
       }
    ]
    ) %>
  </div>

  <h1> My Dyno  <script src="http://localhost:3000/dianosaurs/1.js" type="text/javascript"> </script></h1>

</div>
